In [1]:
# Import dependencies
import numpy as np
import pandas as pd
import requests
from census import Census

# Census API Key
from config import census_api_key
c = Census(census_api_key, year=2018)

In [2]:
# The following code is a slightly modified version of that found in the bootcamp on sections pertaining to the census module.
census_data = c.acs5.get(("B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E", "B17001_002E",
                        "B15003_025E", "B15003_024E", "B15003_023E", "B15003_022E", "B15003_021E", "B15003_020E", "B15003_019E",
                        "B15003_018E", "B15003_017E", "B15003_016E", "B15003_015E", "B15003_014E", "B15003_013E", "B15003_012E", 
                        "B15003_011E", "B15003_010E", "B15003_009E", "B15003_008E", "B15003_007E", "B15003_006E", "B15003_005E",
                        "B15003_006E", "B15003_005E", "B15003_004E", "B15003_003E", "B15003_002E", "B15003_001E"
                         ),{'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_raw = pd.DataFrame(census_data)

# Column Renaming
# Note that many columns will not be renamed, as they will be combined for the sake of minimizing unique values.
#    In particular, columns B15003_005E through B15003_015E are simply grades 1 through 11.
census_raw = census_raw.rename(columns={"zip code tabulation area": "Zip Code Tabulation Area",
                                    "B01003_001E": "Population",
                                    "B01002_001E": "Median Age",
                                    "B19013_001E": "Household Income",
                                    "B19301_001E": "Per Capita Income",
                                    "B17001_002E": "Poverty Count",
                                    "B15003_001E": "Population 25 and Over",
                                    "B15003_002E": "Population 25 and Over w/ No Schooling",
                                    "B15003_003E": "Population 25 and Over w/ Nursery School",
                                    "B15003_004E": "Population 25 and Over w/ Kindergarten",
                                    "B15003_005E": "Population 25 and Over w/ 1st Grade",
                                    "B15003_006E": "Population 25 and Over w/ 2nd Grade",
                                    "B15003_007E": "Population 25 and Over w/ 3rd Grade",
                                    "B15003_008E": "Population 25 and Over w/ 4th Grade",
                                    "B15003_009E": "Population 25 and Over w/ 5th Grade",
                                    "B15003_010E": "Population 25 and Over w/ 6th Grade",
                                    "B15003_011E": "Population 25 and Over w/ 7th Grade",
                                    "B15003_012E": "Population 25 and Over w/ 8th Grade",
                                    "B15003_013E": "Population 25 and Over w/ 9th Grade",
                                    "B15003_014E": "Population 25 and Over w/ 10th Grade",
                                    "B15003_015E": "Population 25 and Over w/ 11th Grade",
                                    "B15003_016E": "Population 25 and Over w/ 12th Grade, no diploma",
                                    "B15003_017E": "Population 25 and Over w/ Regular High School diploma",
                                    "B15003_018E": "Population 25 and Over w/ GED or alternative credential",
                                    "B15003_019E": "Population 25 and Over w/ Some college, less than 1 year",
                                    "B15003_020E": "Population 25 and Over w/ Some college, 1 or more years",
                                    "B15003_021E": "Population 25 and Over w/ Associate's degree",
                                    "B15003_022E": "Population 25 and Over w/ Bachelor's degree",
                                    "B15003_023E": "Population 25 and Over w/ Master's degree",
                                    "B15003_024E": "Population 25 and Over w/ Professional school degree",
                                    "B15003_025E": "Population 25 and Over w/ Doctorate degree",
                                      })

# Dataframe to be cleaned is put to screen
census_raw.head()

,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Population 25 and Over w/ Doctorate degree,Population 25 and Over w/ Professional school degree,Population 25 and Over w/ Master's degree,Population 25 and Over w/ Bachelor's degree,Population 25 and Over w/ Associate's degree,...,Population 25 and Over w/ 5th Grade,Population 25 and Over w/ 4th Grade,Population 25 and Over w/ 3rd Grade,Population 25 and Over w/ 2nd Grade,Population 25 and Over w/ 1st Grade,Population 25 and Over w/ Kindergarten,Population 25 and Over w/ Nursery School,Population 25 and Over w/ No Schooling,Population 25 and Over,Zip Code Tabulation Area
0,13092.0,17242.0,40.5,6999.0,10772.0,79.0,15.0,216.0,1781.0,888.0,...,181.0,174.0,584.0,167.0,68.0,0.0,19.0,492.0,11838.0,00601
1,16358.0,38442.0,42.3,9277.0,19611.0,312.0,201.0,1119.0,3692.0,3387.0,...,687.0,917.0,571.0,236.0,137.0,11.0,27.0,901.0,27411.0,00602
2,16603.0,48814.0,41.1,11307.0,24337.0,280.0,297.0,1437.0,5888.0,2370.0,...,861.0,806.0,420.0,195.0,92.0,14.0,35.0,924.0,34274.0,00603
3,12832.0,6437.0,43.3,5943.0,4163.0,0.0,0.0,120.0,311.0,241.0,...,78.0,151.0,162.0,63.0,64.0,0.0,0.0,185.0,4516.0,00606
4,19309.0,27073.0,42.1,10220.0,11724.0,66.0,54.0,749.0,2498.0,2241.0,...,487.0,454.0,456.0,206.0,132.0,0.0,0.0,643.0,19164.0,00610

In [3]:
# Check for duplicate zip codes
len(census_raw[census_raw.duplicated(["Zip Code Tabulation Area"])])

0

In [4]:
# Rows with empty values are dropped
census_no_na = census_raw.dropna()
census_no_na.head()

,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Population 25 and Over w/ Doctorate degree,Population 25 and Over w/ Professional school degree,Population 25 and Over w/ Master's degree,Population 25 and Over w/ Bachelor's degree,Population 25 and Over w/ Associate's degree,...,Population 25 and Over w/ 5th Grade,Population 25 and Over w/ 4th Grade,Population 25 and Over w/ 3rd Grade,Population 25 and Over w/ 2nd Grade,Population 25 and Over w/ 1st Grade,Population 25 and Over w/ Kindergarten,Population 25 and Over w/ Nursery School,Population 25 and Over w/ No Schooling,Population 25 and Over,Zip Code Tabulation Area
0,13092.0,17242.0,40.5,6999.0,10772.0,79.0,15.0,216.0,1781.0,888.0,...,181.0,174.0,584.0,167.0,68.0,0.0,19.0,492.0,11838.0,00601
1,16358.0,38442.0,42.3,9277.0,19611.0,312.0,201.0,1119.0,3692.0,3387.0,...,687.0,917.0,571.0,236.0,137.0,11.0,27.0,901.0,27411.0,00602
2,16603.0,48814.0,41.1,11307.0,24337.0,280.0,297.0,1437.0,5888.0,2370.0,...,861.0,806.0,420.0,195.0,92.0,14.0,35.0,924.0,34274.0,00603
3,12832.0,6437.0,43.3,5943.0,4163.0,0.0,0.0,120.0,311.0,241.0,...,78.0,151.0,162.0,63.0,64.0,0.0,0.0,185.0,4516.0,00606
4,19309.0,27073.0,42.1,10220.0,11724.0,66.0,54.0,749.0,2498.0,2241.0,...,487.0,454.0,456.0,206.0,132.0,0.0,0.0,643.0,19164.0,00610

In [5]:
# Force all dtypes to float
census_no_na = census_no_na.astype(float)
census_no_na.dtypes

Household Income                                            float64
Population                                                  float64
Median Age                                                  float64
Per Capita Income                                           float64
Poverty Count                                               float64
Population 25 and Over w/ Doctorate degree                  float64
Population 25 and Over w/ Professional school degree        float64
Population 25 and Over w/ Master's degree                   float64
Population 25 and Over w/ Bachelor's degree                 float64
Population 25 and Over w/ Associate's degree                float64
Population 25 and Over w/ Some college, 1 or more years     float64
Population 25 and Over w/ Some college, less than 1 year    float64
Population 25 and Over w/ GED or alternative credential     float64
Population 25 and Over w/ Regular High School diploma       float64
Population 25 and Over w/ 12th Grade, no diploma            float64
Population 25 and Over w/ 11th Grade                        float64
Population 25 and Over w/ 10th Grade                        float64
Population 25 and Over w/ 9th Grade                         float64
Population 25 and Over w/ 8th Grade                         float64
Population 25 and Over w/ 7th Grade                         float64
Population 25 and Over w/ 6th Grade                         float64
Population 25 and Over w/ 5th Grade                         float64
Population 25 and Over w/ 4th Grade                         float64
Population 25 and Over w/ 3rd Grade                         float64
Population 25 and Over w/ 2nd Grade                         float64
Population 25 and Over w/ 1st Grade                         float64
Population 25 and Over w/ Kindergarten                      float64
Population 25 and Over w/ Nursery School                    float64
Population 25 and Over w/ No Schooling                      float64
Population 25 and Over                                      float64
Zip Code Tabulation Area                                    float64
dtype: object

In [6]:
# All rows containing a negative value are dropped

# Empty array for indeces to drop is initialized
indeces_to_drop = []

# Every row is checked for a negative value
# Iterate through the rows
for index, row in census_no_na.iterrows():
    
    # Ensure that only 1 index is given per row
    unique = True
    
    # Loop through columns
    for col in row:
        
        # If a value is negative, add its index to the array be dropped and flip boolean to ensure only 1 entry
        if ((col < 0) & unique):
            indeces_to_drop.append(index)
            unique = False
    
# Delete each row whose
for index in indeces_to_drop:
    census_no_na.drop(index, inplace=True)
    
census_no_na.head()

,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Population 25 and Over w/ Doctorate degree,Population 25 and Over w/ Professional school degree,Population 25 and Over w/ Master's degree,Population 25 and Over w/ Bachelor's degree,Population 25 and Over w/ Associate's degree,...,Population 25 and Over w/ 5th Grade,Population 25 and Over w/ 4th Grade,Population 25 and Over w/ 3rd Grade,Population 25 and Over w/ 2nd Grade,Population 25 and Over w/ 1st Grade,Population 25 and Over w/ Kindergarten,Population 25 and Over w/ Nursery School,Population 25 and Over w/ No Schooling,Population 25 and Over,Zip Code Tabulation Area
0,13092.0,17242.0,40.5,6999.0,10772.0,79.0,15.0,216.0,1781.0,888.0,...,181.0,174.0,584.0,167.0,68.0,0.0,19.0,492.0,11838.0,601.0
1,16358.0,38442.0,42.3,9277.0,19611.0,312.0,201.0,1119.0,3692.0,3387.0,...,687.0,917.0,571.0,236.0,137.0,11.0,27.0,901.0,27411.0,602.0
2,16603.0,48814.0,41.1,11307.0,24337.0,280.0,297.0,1437.0,5888.0,2370.0,...,861.0,806.0,420.0,195.0,92.0,14.0,35.0,924.0,34274.0,603.0
3,12832.0,6437.0,43.3,5943.0,4163.0,0.0,0.0,120.0,311.0,241.0,...,78.0,151.0,162.0,63.0,64.0,0.0,0.0,185.0,4516.0,606.0
4,19309.0,27073.0,42.1,10220.0,11724.0,66.0,54.0,749.0,2498.0,2241.0,...,487.0,454.0,456.0,206.0,132.0,0.0,0.0,643.0,19164.0,610.0

In [7]:
# All rates are calculated

# Rate Poverty
census_no_na["Poverty Rate"] = census_no_na["Poverty Count"] / census_no_na["Population"]

# Rate over 25 less than 1st grade
census_no_na["Rate 25 and Over w/ less than 1st grade"] =\
        (census_no_na["Population 25 and Over w/ No Schooling"] +\
        census_no_na["Population 25 and Over w/ Nursery School"] +\
        census_no_na["Population 25 and Over w/ Kindergarten"]) / census_no_na["Population 25 and Over"]
                                                                           
# Rate over 25 with some or completed elementary school (1st through 6th grade)
census_no_na["Rate 25 and Over w/ Some or Completed Elementary School"] =\
        (census_no_na["Population 25 and Over w/ 1st Grade"] +\
        census_no_na["Population 25 and Over w/ 2nd Grade"] +\
        census_no_na["Population 25 and Over w/ 3rd Grade"] +\
        census_no_na["Population 25 and Over w/ 4th Grade"] +\
        census_no_na["Population 25 and Over w/ 5th Grade"] +\
        census_no_na["Population 25 and Over w/ 6th Grade"]) / census_no_na["Population 25 and Over"]

# Rate over 25 with some or completed middle school (7th and 8th grade)
census_no_na["Rate 25 and Over w/ Some or Completed Middle School"] =\
        (census_no_na["Population 25 and Over w/ 7th Grade"] +\
        census_no_na["Population 25 and Over w/ 8th Grade"]) / census_no_na["Population 25 and Over"]

# Rate over 25 with some high school (9th through 12th grade)
census_no_na["Rate 25 and Over w/ Some High School"] =\
        (census_no_na["Population 25 and Over w/ 9th Grade"] +\
        census_no_na["Population 25 and Over w/ 10th Grade"] +\
        census_no_na["Population 25 and Over w/ 11th Grade"] +\
        census_no_na["Population 25 and Over w/ 12th Grade, no diploma"]) / census_no_na["Population 25 and Over"]

# Rate over 25 with completed high school or equivalent
census_no_na["Rate 25 and Over w/ Completed High School or Equivalent"] =\
        (census_no_na["Population 25 and Over w/ Regular High School diploma"] +\
        census_no_na["Population 25 and Over w/ GED or alternative credential"]) / census_no_na["Population 25 and Over"]

# Rate 25 and Over w/ Some college, less than 1 year
census_no_na["Rate 25 and Over w/ Some college, less than 1 year"] =\
        census_no_na["Population 25 and Over w/ Some college, less than 1 year"] / census_no_na["Population 25 and Over"]

# Rate 25 and Over w/ Some college, 1 or more years
census_no_na["Rate 25 and Over w/ Some college, 1 or more years"] =\
        census_no_na["Population 25 and Over w/ Some college, 1 or more years"] / census_no_na["Population 25 and Over"]

# Rate 25 and Over w/ Associate's degree
census_no_na["Rate 25 and Over w/ Associate's degree"] =\
        census_no_na["Population 25 and Over w/ Associate's degree"] / census_no_na["Population 25 and Over"]

# Rate 25 and Over w/ Bachelor's degree
census_no_na["Rate 25 and Over w/ Bachelor's degree"] =\
        census_no_na["Population 25 and Over w/ Bachelor's degree"] / census_no_na["Population 25 and Over"]

# Rate 25 and Over w/ Master's degree
census_no_na["Rate 25 and Over w/ Master's degree"] =\
        census_no_na["Population 25 and Over w/ Master's degree"] / census_no_na["Population 25 and Over"]

# Rate 25 and Over w/ Professional school degree
census_no_na["Rate 25 and Over w/ Professional school degree"] =\
        census_no_na["Population 25 and Over w/ Professional school degree"] / census_no_na["Population 25 and Over"]

# Rate 25 and Over w/ Doctorate degree
census_no_na["Rate 25 and Over w/ Doctorate degree"] =\
        census_no_na["Population 25 and Over w/ Doctorate degree"] / census_no_na["Population 25 and Over"]

In [8]:
# Final DataFrame is made
census_df = census_no_na[["Zip Code Tabulation Area", "Population", "Median Age", "Household Income",
                         "Per Capita Income", "Poverty Rate", "Population 25 and Over",
                         "Rate 25 and Over w/ less than 1st grade",
                         "Rate 25 and Over w/ Some or Completed Elementary School",
                         "Rate 25 and Over w/ Some or Completed Middle School",
                         "Rate 25 and Over w/ Some High School",
                         "Rate 25 and Over w/ Completed High School or Equivalent",
                         "Rate 25 and Over w/ Some college, less than 1 year",
                         "Rate 25 and Over w/ Some college, 1 or more years",
                         "Rate 25 and Over w/ Associate's degree",
                         "Rate 25 and Over w/ Bachelor's degree",
                         "Rate 25 and Over w/ Master's degree",
                         "Rate 25 and Over w/ Professional school degree",
                         "Rate 25 and Over w/ Doctorate degree"]]

# Output Dataframe to csv and screen
census_df.to_csv("acs5_2018.csv", index=False)
census_df.head()

,Zip Code Tabulation Area,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Population 25 and Over,Rate 25 and Over w/ less than 1st grade,Rate 25 and Over w/ Some or Completed Elementary School,Rate 25 and Over w/ Some or Completed Middle School,Rate 25 and Over w/ Some High School,Rate 25 and Over w/ Completed High School or Equivalent,"Rate 25 and Over w/ Some college, less than 1 year","Rate 25 and Over w/ Some college, 1 or more years",Rate 25 and Over w/ Associate's degree,Rate 25 and Over w/ Bachelor's degree,Rate 25 and Over w/ Master's degree,Rate 25 and Over w/ Professional school degree,Rate 25 and Over w/ Doctorate degree
0,601.0,17242.0,40.5,13092.0,6999.0,0.624754,11838.0,0.043166,0.143183,0.057696,0.115138,0.255786,0.017064,0.116320,0.075013,0.150448,0.018246,0.001267,0.006673
1,602.0,38442.0,42.3,16358.0,9277.0,0.510145,27411.0,0.034256,0.142571,0.059064,0.103061,0.244354,0.013243,0.085659,0.123564,0.134690,0.040823,0.007333,0.011382
2,603.0,48814.0,41.1,16603.0,11307.0,0.498566,34274.0,0.028389,0.102468,0.049775,0.103548,0.284210,0.017156,0.114752,0.069149,0.171792,0.041927,0.008665,0.008169
3,606.0,6437.0,43.3,12832.0,5943.0,0.646730,4516.0,0.040965,0.185562,0.087024,0.168733,0.314880,0.001993,0.052037,0.053366,0.068866,0.026572,0.000000,0.000000
4,610.0,27073.0,42.1,19309.0,10220.0,0.433051,19164.0,0.033552,0.139063,0.040753,0.096066,0.290597,0.012628,0.094709,0.116938,0.130349,0.039084,0.002818,0.003444