In [1]:
# This notebook merges the zillow data and the census data on the zip code

In [2]:
# Import Dependencies
import numpy as np
import pandas as pd

# Paths for the csv are defined
census_path = "acs5_2018.csv"
zillow_path = "zillow_data.csv"

In [3]:
# Census data saved to dataframe
census_df = pd.read_csv(census_path)
census_df = census_df.rename(columns={"Zip Code Tabulation Area": "zipcode"})
census_df.head()

,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Population 25 and Over,Rate 25 and Over w/ less than 1st grade,Rate 25 and Over w/ Some or Completed Elementary School,Rate 25 and Over w/ Some or Completed Middle School,Rate 25 and Over w/ Some High School,Rate 25 and Over w/ Completed High School or Equivalent,"Rate 25 and Over w/ Some college, less than 1 year","Rate 25 and Over w/ Some college, 1 or more years",Rate 25 and Over w/ Associate's degree,Rate 25 and Over w/ Bachelor's degree,Rate 25 and Over w/ Master's degree,Rate 25 and Over w/ Professional school degree,Rate 25 and Over w/ Doctorate degree
0,601.0,17242.0,40.5,13092.0,6999.0,0.624754,11838.0,0.043166,0.143183,0.057696,0.115138,0.255786,0.017064,0.116320,0.075013,0.150448,0.018246,0.001267,0.006673
1,602.0,38442.0,42.3,16358.0,9277.0,0.510145,27411.0,0.034256,0.142571,0.059064,0.103061,0.244354,0.013243,0.085659,0.123564,0.134690,0.040823,0.007333,0.011382
2,603.0,48814.0,41.1,16603.0,11307.0,0.498566,34274.0,0.028389,0.102468,0.049775,0.103548,0.284210,0.017156,0.114752,0.069149,0.171792,0.041927,0.008665,0.008169
3,606.0,6437.0,43.3,12832.0,5943.0,0.646730,4516.0,0.040965,0.185562,0.087024,0.168733,0.314880,0.001993,0.052037,0.053366,0.068866,0.026572,0.000000,0.000000
4,610.0,27073.0,42.1,19309.0,10220.0,0.433051,19164.0,0.033552,0.139063,0.040753,0.096066,0.290597,0.012628,0.094709,0.116938,0.130349,0.039084,0.002818,0.003444

In [4]:
# Zillow data saved to dataframe
zillow_df = pd.read_csv(zillow_path)
zillow_df.head()

,address,sold_price,bathroom_ct,bedroom_ct,home_sqft,sold_date,image_url,lat,lng,home_type,year_built,heating_type,parking_info,lot_sqft,zipcode
0,"515 W Portland St, Phoenix, AZ 85003",617700.0,2.5,3.0,2422.0,11/20/2020,https://photos.zillowstatic.com/fp/3ae6d7488a3...,33.45076,-112.07836,NaN,NaN,NaN,NaN,NaN,85003
1,"52 W Lewis Ave, Phoenix, AZ 85003",585000.0,2.0,3.0,1666.0,11/16/2020,https://photos.zillowstatic.com/fp/0380d64fe38...,33.45076,-112.07836,NaN,NaN,NaN,NaN,NaN,85003
2,"84 W Lewis Ave, Phoenix, AZ 85003",575000.0,2.0,2.0,2204.0,11/13/2020,https://photos.zillowstatic.com/fp/f561c793337...,33.45076,-112.07836,NaN,NaN,NaN,NaN,NaN,85003
3,"70 W Encanto Blvd, Phoenix, AZ 85003",789000.0,2.5,3.0,1930.0,11/13/2020,https://photos.zillowstatic.com/fp/53cd59145a8...,33.45076,-112.07836,NaN,NaN,NaN,NaN,NaN,85003
4,"387 N 2nd Ave UNIT 2I, Phoenix, AZ 85003",359000.0,2.5,2.0,1310.0,11/13/2020,https://photos.zillowstatic.com/fp/1857919a8e4...,33.45076,-112.07836,NaN,NaN,NaN,NaN,NaN,85003

In [5]:
# Unused (mostly non-numeric) columns are dropped, and zipcode is converted to a float
zillow_df.drop(["address","sold_date", "image_url", "lat", "lng"], axis=1, inplace=True)
zillow_df.dropna(axis=1, inplace=True)
zillow_df["zipcode"] = zillow_df["zipcode"].astype(float)
zillow_df

       sold_price  bathroom_ct  bedroom_ct  home_sqft  zipcode
0        617700.0          2.5         3.0     2422.0  85003.0
1        585000.0          2.0         3.0     1666.0  85003.0
2        575000.0          2.0         2.0     2204.0  85003.0
3        789000.0          2.5         3.0     1930.0  85003.0
4        359000.0          2.5         2.0     1310.0  85003.0
...           ...          ...         ...        ...      ...
24011    262000.0          2.5         3.0     1444.0  85213.0
24012    575000.0          4.0         4.0     4000.0  85213.0
24013    167000.0          1.5         2.0     1005.0  85213.0
24014    378000.0          2.0         4.0     2052.0  85213.0
24015    770000.0          0.0         0.0        0.0  85213.0

[24016 rows x 5 columns]

In [6]:
# Dataframes are inner merged on zip codes
df_merged = zillow_df.merge(census_df, how="inner")
df_merged

,sold_price,bathroom_ct,bedroom_ct,home_sqft,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,...,Rate 25 and Over w/ Some or Completed Middle School,Rate 25 and Over w/ Some High School,Rate 25 and Over w/ Completed High School or Equivalent,"Rate 25 and Over w/ Some college, less than 1 year","Rate 25 and Over w/ Some college, 1 or more years",Rate 25 and Over w/ Associate's degree,Rate 25 and Over w/ Bachelor's degree,Rate 25 and Over w/ Master's degree,Rate 25 and Over w/ Professional school degree,Rate 25 and Over w/ Doctorate degree
0,617700.0,2.5,3.0,2422.0,85003.0,8419.0,39.5,42936.0,37766.0,0.196223,...,0.019704,0.082074,0.186222,0.050370,0.178815,0.045185,0.225037,0.104444,0.034222,0.022667
1,585000.0,2.0,3.0,1666.0,85003.0,8419.0,39.5,42936.0,37766.0,0.196223,...,0.019704,0.082074,0.186222,0.050370,0.178815,0.045185,0.225037,0.104444,0.034222,0.022667
2,575000.0,2.0,2.0,2204.0,85003.0,8419.0,39.5,42936.0,37766.0,0.196223,...,0.019704,0.082074,0.186222,0.050370,0.178815,0.045185,0.225037,0.104444,0.034222,0.022667
3,789000.0,2.5,3.0,1930.0,85003.0,8419.0,39.5,42936.0,37766.0,0.196223,...,0.019704,0.082074,0.186222,0.050370,0.178815,0.045185,0.225037,0.104444,0.034222,0.022667
4,359000.0,2.5,2.0,1310.0,85003.0,8419.0,39.5,42936.0,37766.0,0.196223,...,0.019704,0.082074,0.186222,0.050370,0.178815,0.045185,0.225037,0.104444,0.034222,0.022667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20402,262000.0,2.5,3.0,1444.0,85213.0,36902.0,37.2,65278.0,32755.0,0.113354,...,0.013890,0.048021,0.236704,0.083996,0.179013,0.095182,0.213964,0.081005,0.023970,0.011514
20403,575000.0,4.0,4.0,4000.0,85213.0,36902.0,37.2,65278.0,32755.0,0.113354,...,0.013890,0.048021,0.236704,0.083996,0.179013,0.095182,0.213964,0.081005,0.023970,0.011514
20404,167000.0,1.5,2.0,1005.0,85213.0,36902.0,37.2,65278.0,32755.0,0.113354,...,0.013890,0.048021,0.236704,0.083996,0.179013,0.095182,0.213964,0.081005,0.023970,0.011514
20405,378000.0,2.0,4.0,2052.0,85213.0,36902.0,37.2,65278.0,32755.0,0.113354,...,0.013890,0.048021,0.236704,0.083996,0.179013,0.095182,0.213964,0.081005,0.023970,0.011514
20406,770000.0,0.0,0.0,0.0,85213.0,36902.0,37.2,65278.0,32755.0,0.113354,...,0.013890,0.048021,0.236704,0.083996,0.179013,0.095182,0.213964,0.081005,0.023970,0.011514

In [7]:
# Dataframe is saved to csv
df_merged.to_csv("merged_data.csv",index=False)